@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  font-family: Inter, sans-serif;
  background-color: #1e202a;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 100px;
  height: 100%;
}

.topSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.topSection .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.topSection .title .bigTitle {
  margin: 0;
  color: #fff;
}

.topSection .title .followers {
  margin: 0;
  color: #8b97c6;
}

.topSection .modeSwitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topSection .modeSwitch h5 {
  color: #8b97c6;
}

.topSection .modeSwitch .switchContainer {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(to right, #378fe6, #3eda82);
  height: 25px;
  border-radius: 50px;
  width: 50px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topSection .modeSwitch .switchContainer .switchButton {
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 3px;
  cursor: pointer;
}

.cardSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardSection #facebook {
  border-top: 3px solid #4267b2;
}

.cardSection #twitter {
  border-top: 3px solid #1da1f2;
}

.cardSection #instagram {
  border-top: 3px solid #e1306c;
}

.cardSection #youtube {
  border-top: 3px solid #ff0000;
}

.cardSection #youtube #youtubeDown h6 {
  color: #dc414c;
}

.cardSection #youtube #youtubeDown img {
  margin-right: 5px;
}

.cardSection .card {
  height: 175px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #252a41;
  border-radius: 5px;
}

.cardSection .card .cardTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cardSection .card .cardTop .logo {
  margin-right: 5px;
}

.cardSection .card .cardTop .logo img {
  width: 17px;
}

.cardSection .card .cardTop .username {
  color: #8b97c6;
  font-size: 11px;
  font-weight: 700;
}

.cardSection .card .followersNum h1 {
  text-align: center;
  margin: 0;
  font-size: 45px;
  color: #fff;
}

.cardSection .card .followersNum p {
  text-align: center;
  letter-spacing: 4px;
  font-size: 11px;
  margin: 0;
  color: #8b97c6;
}

.cardSection .card .upDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardSection .card .upDown img {
  margin-right: 5px;
}

.cardSection .card .upDown h6 {
  color: #1db489;
  margin: 0;
}

.overviewTitle {
  margin: 0;
  margin-top: 30px;
  color: #fff;
}

.overviewCardSection {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overviewCardSection .overviewCard {
  height: 110px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #252a41;
  border-radius: 5px;
}

.overviewCardSection .overviewCard .leftSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.overviewCardSection .overviewCard .leftSection .pageViewTitle {
  font-size: 12px;
  color: #8b97c6;
}

.overviewCardSection .overviewCard .leftSection .pageViewNum {
  color: #fff;
}

.overviewCardSection .overviewCard .leftSection .pageViewTitle,
.overviewCardSection .overviewCard .leftSection .pageViewNum {
  margin: 0;
}

.overviewCardSection .overviewCard .rightSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.overviewCardSection .overviewCard .rightSection .icon img {
  width: 17px;
}

.overviewCardSection .overviewCard .rightSection .percentUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overviewCardSection .overviewCard .rightSection .percentUp img {
  margin-right: 5px;
}

.overviewCardSection .overviewCard .rightSection .percentUp h6 {
  margin: 0;
  color: #1db489;
}

.overviewCardSection .overviewCard .rightSection .percentDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overviewCardSection .overviewCard .rightSection .percentDown img {
  margin-right: 5px;
}

.overviewCardSection .overviewCard .rightSection .percentDown h6 {
  margin: 0;
  color: #dc414c;
}

.attribution {
  margin-top: 20px;
  color: #fff;
}

.attribution a {
  color: #8b97c6;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=dark_theme.css.map */